name: Jekyll site CI

on:
  push:
    branches: [ blog ]
  pull_request:
    branches: [ blog ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: hugo-deploy
      # You may pin to the exact commit or the version.
      # uses: reuixiy/hugo-deploy@1185ce893b699b1809ec27bebcd8212a8127fefa
      uses: reuixiy/hugo-deploy@v1
      env:
        DEPLOY_REPO: lyn-euler/lyn-euler.github.io
        DEPLOY_BRANCH: blog
        DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
